.banner {
    height: 500px;
    background: url("../asset/img/fondo/fondo.jpeg") no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

    .banner-text {
        max-width:30%;
        color: #fff;
        @media screen and (max-width: 480px){
             max-width: 90%;
        }
      img{
        @extend %zoomIn;
      }
        p {
            font-size: 1.2em;
            font-weight: 200;
            text-align: center;
            text-shadow: 10px 10px 8px #000;
            @extend %zoomIn;
        }
        h3{ 
          font-weight: 900;
      }
    }


}