@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200300;;500&display=swap');
*{
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
section{
    padding-top: 30px;
    padding-bottom: 30px;
}
.container{
    max-width: 1000px;
    margin: 0 auto;
    padding: 60px 20px;
    h2{
        text-align: center;
        @extend %zoomIn;
    }
}
a{
    text-decoration: none;
}
.donate{
    color: #fff;
    width: 100px;
}
img{
    max-width: 100%;
}
p, blockquote, figcaption{
    font-weight: 200;
}