#donators{
    background-color: #A4D0E9;
    .container>div{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 40px;
    }
    .donators_people{
        width: 14% ;
        padding: 30px 0;
        @media screen and (max-width: 480px){
            width: 35% ;
       }
    figure img{
border-radius: 50%;;
    }   }
}