footer {
    background-color: #239adf;
    color: #000;
    .footer-top {
	display: flex;
	justify-content: space-between; 
    padding: 70px 20px;
    >div {
	width: 30%;
	text-align: left;
	@media screen and (max-width: 480px) {
		width: 100%;
		width: 100%;
		text-align: center;
		padding-bottom: 2em;
	}
    &:nth-child(1) {
        width: 40%;
		text-align: center;
		@media screen and (max-width: 480px) {
  
			width: 100%;
	 
	}
	
    }
}
}
@media screen and (max-width: 480px) {
	.footer-top {
		flex-direction: column;
	}
}
}
 

.footer-top>div h4 {
	font-size: 1.4rem;
	padding-bottom: 20px;
}

.footer-logo img {
	max-width: 300px;
}

footer .social>div,
footer .contact>div {
	display: flex;
    flex-direction: column;
    font-weight: 200;;
}

footer .social>div a,
footer .contact>div a {
	padding-bottom: 10px;
	color: inherit;
}

footer .contact>div i {
	color: #000;
	margin-right: 20px;
}
footer .social>div i {
	margin-right: 20px;
}

footer .footer-bottom {
	background-color: #fff;
	color: #000;
	font-size: 0.4rem;
	font-style: italic;
}

.contactalert {
	margin-top: 20px;
	border: 1px solid;
	display: inline-block;
	padding: 20px;
}


#credits a {
	color: inherit;
}


#credits .social a:hover {
	color: rgba(255, 215, 0, 0.7)
}
 
.footer-logo img {
    max-width: 200px;
}

