#section-gallery {
    margin: 0 auto;
    max-width: 80%;
    .container{
          padding-bottom: 0;
    }
  

    @media screen and(mobileBreakpoint) {
        max-width: 100%;
    }
    h4 {
        padding: 40px 0;
        position: relative;
        &:after {
            content: "";
            width: 200px;
            height: 3px;
            background-color: #A4D0E9;
            position: absolute;
            bottom: 20px;
            left: 0px;
        }

        span {
            color: #A4D0E9;

        }
    }

  
}
.photos .item{
    padding: 20px;
    img{
        object-fit: cover;
    }
}
.photo-gallery {
    color:#313437;
    background-color:#fff;
  }
  
  .photo-gallery p {
    color:#7d8285;
  }
  
  .photo-gallery h2 {
    font-weight:bold;
    margin-bottom:40px;
    padding-top:40px;
    color:inherit;
  }
  
  @media (max-width:767px) {
    .photo-gallery h2 {
      margin-bottom:25px;
      padding-top:25px;
      font-size:24px;
    }
  }
  
  .photo-gallery .intro {
    font-size:16px;
    max-width:500px;
    margin:0 auto 40px;
  }
  
  .photo-gallery .intro p {
    margin-bottom:0;
  }
  
  .photo-gallery .photos {
    padding-bottom:20px;
  }
  
  .photo-gallery .item {
    padding-bottom:30px;
  }
  
  #gallery2020April{
      img{
          height: 200px;
          object-fit: cover;
      }
  }
  #gallery2019May{
   .item:nth-child(1) a img, .item:nth-child(2) a img, .item:nth-child(3) a img{
        height: 200px;
        object-fit: cover;
    }
}