.navbar-brand {
    font-weight: 100;
    span{
        text-transform: uppercase;
    font-weight: 500;
    }
    img {
        max-width: 40px;
    }
}
.navbar-nav {
    margin: 0 auto; 
}
.donate{
    background-color: #A4D0E9;
    color: #fff !important;
}