.navbar-brand {
    font-weight: 100;
    span{
        text-transform: uppercase;
    font-weight: 500;
    }
    img {
        max-width: 40px;
    }
}
.navbar-nav {
    margin: 0 auto;  
   
} 
.donate{
    background-color: $secondaryColor;
    color: white !important;

}
.right-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px; 
   margin: 0;
    @media screen and (max-width:600px){
        margin-top:20px; 
        }
    .nav-item:nth-child(2){
        @media screen and (max-width:900px){
            order: -1;
            }
    }
    .btn-lang{
        font-size: 12px; 
        line-height: 2.5;
       
    }
}
.navbar-light .navbar-nav .nav-link.active{
    
    color: $secondaryColor;
}