#mission {
    .container {
        >div {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            @media screen and (max-width: 768px){
                flex-direction: column;
            }
        } 
        .mission_text,
        .mission_pics {
            width: 50%;
            padding: 30px 0;
            text-align: center;
            @media screen and (max-width: 768px){
                width: 100%;
                display: flex;
            }
            img{
                max-width: 350px;
                box-shadow: 5px -5px 5px #abb1b4;
                @media screen and (max-width: 768px){
                    max-width: 50%;
                }
            }
           
            img:nth-child(1){
                transform: rotate(-20deg); 
            }
            img:nth-child(2){
                transform: rotate(6deg);
            }
        }
        .mission_text{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 300px;
            p{
                text-align: left;
            } 
            span a{
                color: $secondaryColor;
                font-weight: 900;
            }
        } 
    }
}
