%marco_video{
    content:"";
    background-color: $mainColor;
    border-left: 6px solid $mainColor; 
    position: absolute;
    left:-30px;
    top: -30px
}
#testimonial {

    .container>div {
        display: flex;
        flex-wrap: wrap;
        padding: 50px 20px;
        @media screen and (max-width: 600px){
            flex-direction: column;
        }
        .testimonial_text,
        .testimonial_video {
            width: 50%;
            @media screen and (max-width: 600px){
                width: 100%;
            }
          
        }
        .testimonial_video {
            position: relative;
           &::before { 
               @extend %marco_video;
            width:80%;
            height: 10px;   
        } 
        &::after { 
            @extend %marco_video;
            width:10px;
            height: 90%;  
        } 
        }
        .testimonial_text {
            height: 210px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            @media screen and (max-width: 600px) {
                height: auto; 
            }
            @media screen and (max-width: 480px){
                padding-top: 40px;
            }

            .donate {
                align-self: flex-end
            }
        }
    }
}
/* Blockquote */
blockquote  {
    text-indent: -0.45em; 
    font-size: 1.2rem;
    padding: 20px;
    text-align: right;
    line-height: 1;
} 

@supports (hanging-punctuation: first) {
    blockquote {
        text-indent: 0;
        hanging-punctuation: first;
    }
}

blockquote::before {
    content: open-quote;
    font-size: 4rem;
    color: #A4D0E9;
    position: relative;
    top: 20px;
}

blockquote::after {
    content: close-quote;
    font-size: 4rem;
    color: #A4D0E9;
    position: relative;
    top: 20px;
}

blockquote {
    quotes: "“""”""‘""’";
}